.hero{
    background-color: #111827;
    padding: 10%;
    color:antiquewhite;
}
.desc{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.greeting{
    color: #EAB308;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}
.intro{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}
.about{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}
@media (max-width: 1000px){
    .desc{
        flex-direction: column;
    }
}