.hero{
    background-color: #111827;
    padding: 9.75%;
    color:antiquewhite;
    align-items: center;
}
.desc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.head{
    text-align: center;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 2%;
}
.greeting{
    color: #EAB308;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}
.intro{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}
.about{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}
.card{
    margin: 7px;
}
.card-text{
    color: white;
}
.card-body{
    background-color: #191D28;
}
@media (max-width: 860px){
    .desc{
        flex-direction: column;
    }
    .hero{
        padding-bottom: 30%;
    }
}